.advantage {
  width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  background-color: $bgcolor;
  background-image: url("/img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 320px 25px;
  background-position: 0 0;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include zero-list();
  min-height: 750px;

  background-image: url("/img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 108%;
}

.advantage__item {
  width: 255px;
  text-align: center;
}

.advantage__title {
  @include zero();
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .advantage {
    width: $tablet-width;

    background-color: $bgcolor;
    background-image: url("/img/bg-triangle-white.svg");
    background-size: 660px 52px;
  }

  .advantage__list {
    display: flex;
    align-items: flex-end;
    min-height: 550px;

    background-image: url("/img/iphone-screen-3-tablet@1x.png");
    background-position: 0 0;
  }

  .advantage__item {
    width: 255px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    width: $desktop-width;

    background-color: $bgcolor;
    background-image: url("/img/bg-triangle-white.svg");
    background-size: 956px 75px;
  }

  .advantage__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 550px;

    background-image: url("/img/iphone-screen-1-desktop@1x.png"), url("/img/iphone-screen-2-desktop@1x.png"), url("/img/iphone-screen-3-desktop@1x.png");
    background-position: 0 0, 50% 0, 100% 0;
  }

  .advantage__item {
    width: 255px;
    text-align: left;
  }
}
