.advantage {
  padding-top: 81px;
  background-color: $bgcolor;
  background-image: url("/img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include zero-list();
  min-height: 707px;

  background-image: url("/img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 111%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/iphone-screen-mobile@2x.png");
    background-size: 156px auto;
  }
}

.advantage__item {
  width: 88%;
  max-width: 470px;
  margin-bottom: 27px;

  text-align: center;
}

.advantage__title {
  @include zero();
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  br {
    display: none;
  }
}

.advantage__text {
  @include zero();

  line-height: 24px;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantage {
    padding-top: 0;
  }

  .advantage__list {
    display: flex;
    align-items: flex-end;

    width: 94%;
    max-width: 760px;
    min-height: 485px;
    margin: 0 auto;
    padding-top: 72px;

    background-image: url("/img/iphone-screen-3-tablet@1x.png");
    background-position: 0 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .advantage__item {
    width: 50.4%;
    margin-bottom: 30px;

    text-align: left;

    &:nth-child(2) {
      margin-bottom: 31px;
      padding-left: 2px;
    }

    &:nth-child(3) {
      padding-left: 3px;
    }
  }

  .advantage__text {
    br {
      &:nth-child(2) {
        display: block;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 97%;
    max-width: 1000px;
    min-height: 574px;
    padding: 0 23px;
    padding-top: 357px;

    background-image: url("/img/iphone-screen-1-desktop@1x.png"), url("/img/iphone-screen-2-desktop@1x.png"), url("/img/iphone-screen-3-desktop@1x.png");
    background-position: 0 0, 50.5% 0, 100.5% 0;

    z-index: 1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/iphone-screen-1-desktop@2x.png"), url("/img/iphone-screen-2-desktop@2x.png"), url("/img/iphone-screen-3-desktop@2x.png");
      background-size: 291px auto;
    }
  }

  .advantage__item {
    width: 28%;
    max-width: 500px;

    text-align: center;
  }

  .advantage__title {
    font-size: 30px;
    margin-bottom: 26px;

    br {
      display: block;
    }
  }

  .advantage__text {
    font-size: 18px;
    line-height: 30px;

    br {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}
