.availability {
  display: flex;
  justify-content: center;

  width: 88%;
  margin: 0 auto;
}

.availability__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 430px;
  padding-top: 28px;
}

.availability__download {
  width: 100%;
  color: #ffffff;
  text-align: center;

  margin-bottom: 32px;
}

.availability__application {
  @include zero-list();
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 73%;
  max-width: 300px;
  margin-bottom: 12px;
}

.availability__item {
  display: flex;
  align-items: center;

  &--padding-top {
    padding-top: 8px;
  }
}

.availability__text {
  @include zero();
  width: 86%;

  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .availability {
    justify-content: flex-start;

    position: relative;

    width: 94%;
    max-width: 780px;

    z-index: 1;
  }

  .availability__wrapper {
    max-width: 300px;
    padding-bottom: 80px;
  }

  .availability__download {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 45px;
  }

  .availability__text {
    width: 100%;

    font-size: 18px;
  }

  .availability__application {
    max-width: 210px;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .availability {
    justify-content: flex-start;

    width: 98%;
    max-width: 940px;
    margin: 0 auto;
  }

  .availability__wrapper {
    max-width: 300px;
    padding-top: 53px;
    padding-bottom: 92px;
  }

  .availability__download {
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 67px;

    font-size: 21px;
  }

  .availability__application {
    max-width: 204px;
    margin-bottom: 46px;
  }
}
