.availability {
  background-color: $block-bgcolor;
}

.availability__download {
  color: #ffffff;
}

.availability__application {
  @include zero-list();
}

.availability__text {
  @include zero();

  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}
