.checkbox-list {
  display: flex;
  flex-wrap: wrap;

  @include zero-list();
  width: 280px;
  margin: 0 auto;
  padding-left: 70px;
}

.checkbox-list__label {
  position: relative;
  font-size: 18px;
}

.checkbox-list__input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -62px;

  width: 37px;
  height: 37px;

  background-color: $white-color;
  border: 2px solid $light_gray-color;
}

.checkbox-list__input:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -55px;

  width: 37px;
  height: 37px;

  background-image: url("/img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .checkbox-list {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .checkbox-list {
    justify-content: space-around;
    width: auto;
    margin: 0;
  }
}
