.page-footer {
  background-color: $white-bgcolor;
}

.page-footer__social {
  @include zero-list();
}

.page-footer__twitter,
.page-footer__facebook,
.page-footer__youtube {
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.page-footer__text {
  line-height: 18px;
}

.page-footer__marker {
  width: 36px;
  height: 35px;

  background-color: $red-color;
  border: 9px solid #ffffff;
  border-radius: 50%;
}
