.page-footer {
  width: auto;
  background-color: $white-bgcolor;
}

.page-footer__social {
  display: flex;

  @include zero-list();
}

.page-footer__twitter,
.page-footer__facebook,
.page-footer__youtube {
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.page-footer__text {
  line-height: 18px;
}

.page-footer__marker {
  width: 36px;
  height: 35px;

  background-color: $red-color;
  border: 9px solid #ffffff;
  border-radius: 50%;
}

.page-footer__company {
  display: flex;
}

.page-footer__grid {
  display: none;

  &--block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__grid {
    width: 660px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
