form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  .form__main-item {
    @include zero();

    border: none;
    background-color: $white-bgcolor;

    &:nth-child(2) {
      background-color: $bgcolor;
    }

    &:nth-child(4) {
      background-color: $bgcolor;
    }
  }

  .form__list {
    @include zero-list();
  }

  .form__title {
    width: 240px;
    margin: 0 auto;
    line-height: 18px;
    color: $red-color;
    text-align: center;
    text-transform: uppercase;

    &--mobile-none {
      display: none;
    }
  }

  .form__button-submit {
    width: 320px;
    margin: 0 auto;

    background-color: $white-color;
  }

  .form__wrapper-submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 280px;
  }

  .form__button {
    color: $white-color;
    background-color: $green-color;
    border: none;
  }

  .form__legend {
    font: inherit;
  }
}

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    background-color: $white-color;

    .form__main-item {
      width: 620px;
      margin: 0 auto;

      &:nth-child(1) {
        order: -2;
      }

      &:nth-child(2) {
        order: 0;
        background-color: $white-color;
        border: 2px solid $light_gray-color;
      }

      &:nth-child(3) {
        order: -1;

        border: 2px solid $light_gray-color;
      }

      &:nth-child(4) {
        order: -2;

        background-color: $white-color;
        border: 2px solid $light_gray-color;
      }

      &:nth-child(5) {
        order: 0;

        border: 2px solid $light_gray-color;
      }
    }

    .form__button-submit {
      width: 620px;
      margin: 0 auto;
    }

    .form__wrapper-submit {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .form__title {
      width: 320px;

      &--mobile-none {
        display: block;
      }

      &--width {
        width: 390px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: $desktop-width;

    .form__main-item {
      width: 940px;

      &:nth-child(1) {
        width: 470px;
        margin: 0;
        order: -2;
      }

      &:nth-child(2) {
        order: 0;
        background-color: $white-color;
        border: 2px solid $light_gray-color;
      }

      &:nth-child(3) {
        order: -1;

        border: 2px solid $light_gray-color;
      }

      &:nth-child(4) {
        width: 470px;
        margin: 0;
        order: -2;

        background-color: $white-color;
        border: 2px solid $light_gray-color;
      }

      &:nth-child(5) {
        order: 0;

        border: 2px solid $light_gray-color;
      }
    }

    .form__button-submit {
      width: 940px;
    }
  }
}
