form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.form__main-item {
  @include zero();

  background-color: $white-color;
  border: none;


  &:nth-child(2) {

    background-color: $bgcolor;
  }

  &:nth-child(4) {
    background-color: $bgcolor;
  }

  &:nth-child(5) {
    margin-bottom: 49px;
  }
}

.form__list {
  @include zero-list();
}

.form__title {
  width: 100%;
  margin: 0 auto;
  padding: 38px 35px 34px;

  line-height: 18px;
  color: $red-color;
  text-align: center;
  text-transform: uppercase;

  background-color: $bgcolor;

  &--padding-color {
    padding-bottom: 17px;

    background-color: $white-color;
  }

  &--mobile-none {
    display: none;
  }
}

.form__wrapper-submit {
  display: flex;
  flex-direction: column;

  width: 87%;
  margin: 0 auto;
  margin-bottom: 54px;
}

.form__button {
  display: block;
  width: 100%;
  max-width: 280px;
  min-height: 64px;
  margin: 0 auto;
  margin-bottom: 35px;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white-color;

  background-color: $green-color;
  border: none;
  border-radius: 2px;

  &:hover {
    background-color: $dark_green-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $dark_green-color;
  }

  &:disabled {
    background-color: $light_gray-color;
  }
}

.form__legend {
  display: block;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.form__star {
  color: $red-color;
}

.text-hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  form {
    max-width: 660px;
  }

  .form__main-item {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;

    &:not(:nth-child(1)) {
      width: 94%;
      border: 2px solid $light_gray-color;
    }

    &:nth-child(1) {
      order: -2;
    }

    &:nth-child(2) {
      order: 0;

      margin-bottom: 57px;

      background-color: $white-color;

      .form__title {
        width: 71%;
        max-width: 437px;
      }
    }

    &:nth-child(3) {
      order: -1;

      margin-bottom: 57px;

      .form__title {
        width: 42%;
      }
    }

    &:nth-child(4) {
      order: -2;

      margin-bottom: 57px;

      background-color: $white-color;
    }

    &:nth-child(5) {
      order: 0;

      margin-bottom: 67px;
    }
  }

  .form__title {
    width: 60%;
    max-width: 367px;
    padding: 0 15px;

    background-color: $white-color;

    &--mobile-none {
      display: block;
    }

    &--width {
      width: 390px;
    }
  }

  .form__button-submit {
    margin-bottom: 29px;
  }

  .form__wrapper-submit {
    flex-direction: row;
    align-items: center;
    width: 94%;
  }

  .form__button {
    max-width: 300px;
    margin: 0;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    width: 98%;
    max-width: 1200px;
  }

  .form__main-item {
    width: 100%;

    &:not(:nth-child(1)):not(:nth-child(4)) {
      width: 100%;
    }

    &:nth-child(1) {
      order: -2;

      width: 50%;
      max-width: 464px;
      margin: 0;
      margin-right: 4.2%;
      margin-bottom: 56px;
    }

    &:nth-child(2) {
      order: 0;

      background-color: $white-color;
    }

    &:nth-child(3) {
      order: -1;

      margin-bottom: 55px;

      .form__title {
        width: 28%;
      }
    }

    &:nth-child(4) {
      order: -2;

      width: 50%;
      max-width: 437px;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 56px;

      background-color: $white-color;

      .form__title {
        width: 85%;
        max-width: 100%;
      }
    }

    &:nth-child(5) {
      order: 0;

      margin-bottom: 65px;

      .form__title {
        width: 28%;
      }
    }
  }

  .form__button-submit {
    width: 100%;
    margin-bottom: 15px;
  }

  .form__wrapper-submit {
    width: 100%;
  }

  .text-hidden {
    display: inline;
  }
}
