.page-header {
  width: auto;
  position: relative;
}

.page-header__wrapper {
  width: $mobile-width;
  min-height: 462px;
  margin: 0 auto;

  background-color: $block-bgcolor;
  background-image: url("/img/iphone-hand-mobile@1x.png"), url("/img/bg-back-mobile@1x.jpg");
  background-size: 260px auto, $mobile-width auto;
  background-repeat: no-repeat;
  background-position: 0 100%, 0 100%;

  &--bg-image {
    background-image: url("/img/bg-back-mobile@1x.jpg");
    background-size: $mobile-width auto;
  }
}

.page-header__title {
  display: block;
  width: 228px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.page-header__text {
  @include zero();
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: $tablet-width;

    background-image: url("/img/iphone-hand-tablet@1x.png"), url("/img/bg-back-tablet@1x.jpg");
    background-size: auto 549px, 1200px auto;
    background-position: 100% 100%, 50% 100%;

    &--bg-image {
      background-image: url("/img/bg-back-tablet@1x.jpg");
      background-size: 1200px auto;
      background-position: 50% 100%;
    }
  }

  .page-header__title {
    width: 475px;

    font-size: 50px;
    line-height: 50px;
  }

  .page-header__text {
    padding: 0 40px;
    padding-top: 90px;
    padding-bottom: 70px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-width;

    background-image: url("/img/iphone-hand-desktop@1x.png"), url("/img/bg-back-desktop@1x.jpg");
    background-size: auto 540px, 2000px auto;

    &--bg-image {
      background-image: url("/img/bg-back-desktop@1x.jpg");
      background-size: 2000px auto;
      background-position: 50% 100%;
    }
  }

  .page-header__title {
    margin-bottom: 90px;
  }
}
