.input-contacts-list {
  display: flex;
  flex-wrap: wrap;

  @include zero-list();
  width: 280px;
  margin: 0 auto;

  .input-contacts-list__item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .input-contacts-list__label {
    color: $red-color;
    text-transform: uppercase;
  }

  .input-contacts-list__image-phone {
    width: 60px;
    padding: 20px;
    background-color: $light_gray-color;
  }

  .input-contacts-list__email,
  .input-contacts-list__phone {
    height: 60px;
    font: inherit;
    color: inherit;

    &::placeholder {
      font-size: 18px;
    }
  }
}

@media (min-width: $tablet-width) {
  .input-contacts-list {
    width: 500px;

    .input-contacts-list__label {
      order: 1;
    }

    .input-contacts-list__email,
    .input-contacts-list__phone {
      &--image-phone {

        background-image: url("../img/icon-phone.svg"), linear-gradient(to left, $light_gray-color 60px, $white-color 60px);
        background-repeat: no-repeat;
        background-position: center right 20px, center right;
      }

      &--image-email {

        background-image: url("../img/icon-mail.svg"), linear-gradient(to left, $light_gray-color 60px, $white-color 60px);
        background-repeat: no-repeat;
        background-position: center right 20px, center right;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .input-contacts-list {
    width: 100%;
    justify-content: space-around;

    .input-contacts-list__item {
      width: 375px;
    }
  }
}
