.main-nav__toggle {
  position: relative;
  background-color: transparent;
  border: none;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #ffffff;
  }
}

.main-nav__burger-link {
  &:hover {
    fill: rgb(210, 40, 86);
  }

  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
}

.main-nav__list {
  @include zero-list();
}

.main-nav__item {
  a {
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #283645;
  }
}

.main-nav__link {
  &:hover {
    color: rgb(210, 40, 86);
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
