.page-main {
  width: auto;

  &--color {
    background-color: $white-color;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    &--form-color {
      background-color: $white-color;
    }
  }
}
