.page-footer {
  width: auto;
  background-color: $white-color;
}

.page-footer__grid {
  display: none;
  padding-bottom: 30px;

  &--block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__logo {
  margin-bottom: 30px;
}

.page-footer__company {
  display: flex;

  @include zero();
  width: 41.5%;
  max-width: 130px;
}

.page-footer__text {
  @include zero();
  margin-top: 5px;
  margin-right: 14px;

  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .page-footer__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    width: 94%;
    max-width: 620px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .page-footer__company {
    width: 21.5%;
    max-width: 130px;
    margin-top: 16px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__grid {
    width: 98%;
    max-width: 1100px;
  }

  .page-footer__company {
    max-width: 154px;
  }

  .page-footer__text {
    font-size: 18px;
  }
}
