.page-header {
  width: auto;

  background-color: $dark-color;
}

.page-header__wrapper {
  width: auto;

  background-color: $block-bgcolor;
}

.page-header__small-background {
  min-height: 463px;

  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-header__wrapper-title {
  position: relative;
  max-width: 320px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;

    top: 105px;
    right: 61px;
    width: 260px;
    height: 290px;

    background-image: url("/img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 2px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/iphone-hand-mobile@2x.png");
      background-size: 260px auto;
    }
  }
}

.page-header__title {
  display: block;

  width: 72%;
  max-width: 230px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 313px;

  font-size: 24px;
  font-weight: 300;
  color: $white-color;
  text-align: center;

  &--form {
    padding-top: 28px;
    padding-bottom: 51px;
  }

  &--photo {
    padding-top: 28px;
    padding-bottom: 81px;
  }
}

.page-header__wrapper-text {
  min-height: 226px;
  padding-top: 46px;

  background-color: $white-color;

  .page-header__text {
    width: 88%;

    @include zero();
    margin: 0 auto;

    text-align: center;

    &--photo-width {
      width: 79%;
    }
  }

  .text-hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__small-background {
    min-height: 0;

    background-image: none;
  }

  .page-header__wrapper {
    width: auto;
    min-height: 730px;

    background-image: url("/img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-header__wrapper-title {
    width: 96%;
    max-width: 800px;
    padding-top: 89px;
    padding-left: 61px;
    padding-bottom: 1px;

    &::after {
      top: 72px;
      right: 10px;
      width: 470px;
      height: 550px;

      background-image: url("/img/iphone-hand-tablet@1x.png");
      background-position: 81% 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }
  }

  .page-header__title {
    width: 40%;
    max-width: 190px;
    margin: 0;
    padding: 0;

    font-size: 40px;
    line-height: 50px;

    z-index: 0;

    &--form {
      width: 81%;
      max-width: 620px;
      margin: 0 auto;
      padding-top: 68px;
      padding-bottom: 80px;

      font-size: 50px;
      line-height: 60px;
    }

    &--photo {
      width: 81%;
      max-width: 620px;
      margin: 0 auto;
      padding-top: 68px;
      padding-bottom: 139px;

      font-size: 50px;
      line-height: 60px;
    }
  }

  .page-header__wrapper-text {
    min-height: 289px;
    padding-top: 93px;

    .page-header__text {
      width: 81%;
      max-width: 640px;

      font-size: 18px;
    }

    .text-hidden {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 853px;

    background-image: url("/img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/bg-back-desktop@2x.jpg");
      background-position: center 9px;
    }
  }

  .page-header__wrapper {
    width: auto;

    background-color: transparent;
    background-image: none;
  }

  .page-header__wrapper-title {
    width: 93%;
    max-width: 880px;
    padding-top: 107px;
    padding-left: 0;
    padding-bottom: 0;

    &::after {
      top: 98px;
      right: 0;
      width: 642px;
      height: 645px;

      background-image: url("/img/iphone-hand-desktop@1x.png");
      background-position: 62% 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }
  }

  .page-header__title {
    max-width: 240px;

    font-size: 50px;
    line-height: 60px;

    &--form {
      max-width: 750px;
      padding-top: 63px;
      padding-bottom: 100px;
    }

    &--photo {
      max-width: 620px;
      padding-top: 62px;
      padding-bottom: 102px;
    }
  }

  .page-header__wrapper-text {
    width: auto;
    min-height: 220px;
    padding-bottom: 238px;

    .page-header__text {
      max-width: 760px;
      padding-bottom: 70px;
      margin: 0 auto;
      font-size: 18px;

      &--photo-width {
        width: 60%;
        max-width: 715px;
      }
    }
  }
}
