.photo-slider {
  background-color: $bgcolor;
}

.photo-slider__list {
  @include zero-list();
}

.photo-slider__icon {
  background-color: transparent;
  border: none;
}

.photo-slider__button {
  color: $red-color;

  border-color: $red-bgcolor;

  &--color {
    color: $dark-color;

    border-color: $dark-color;
    opacity: 0.1;
  }
}
