.photo__block {
  display: flex;
  flex-wrap: wrap;

  max-width: 600px;

  @include zero-list();
}

.photo__item {
  width: 87%;
  max-width: 400px;
  min-height: 302px;
  margin: 0 auto;
  margin-bottom: 20px;

  background-color: $bgcolor;

  &--main-item {
    position: relative;

    padding-top: 136px;
  }
}

.photo__checkbox {
  position: absolute;

  top: 0;
  left: 50%;
  width: 140px;
  height: 36px;
  padding-top: 4px;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;

  background-color: $red-color;
}

.photo__link {
  display: block;

  margin: 0 auto;

  &--position {
    position: absolute;

    top: 0;
    left: 50%;
    min-width: 320px;
    margin-left: -160px;
  }
}

.photo__info {
  display: flex;
  flex-direction: column;

  width: 97%;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 13px;

  background-color: $bgcolor;
}

.photo__name {
  line-height: 24px;
  font-weight: 700;

  span {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.photo__text {
  @include zero();
  margin-bottom: 10px;

  line-height: 24px;
}

.photo__like-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 50%;
}

.photo__like {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: $red-color;
  text-transform: uppercase;
}

.photo__heart {
  margin-right: 18px;

  fill: $red-color;
}

.photo__text-item {
  width: 87%;
  margin: 0 auto;
  padding-right: 5px;
  padding-top: 19px;
  padding-bottom: 43px;

  text-align: center;

  background-color: $white-color;
}

@media (min-width: $tablet-width) {
  .photo {
    overflow: hidden;
  }

  .photo__block {
    max-width: 890px;
    width: 97%;
    margin: 0 auto;
  }

  .photo__item {
    max-width: 300px;
    min-height: 455px;

    &--main-item {
      width: 97%;
      max-width: 100%;
      margin-bottom: 49px;
      padding-top: 515px;
    }
  }

  .photo__checkbox {
    top: 57px;
    margin-left: 170px;
  }

  .photo__info {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 91%;
    min-height: 132px;
    padding-top: 24px;
    padding-left: 14px;
    padding-bottom: 0;

    &--main-info {
      flex-direction: row;
      flex-wrap: wrap;

      min-height: 110px;
      padding-top: 17px;
      padding-left: 0;
      padding-bottom: 25px;
    }
  }

  .photo__name {
    margin-right: auto;
  }

  .photo__text {
    min-height: 60px;
    margin: 0;

    &--order {
      order: 1;

      min-height: 0;
    }
  }

  .photo__link {
    &--position {
      margin-left: -350px;
      min-width: 700px;
    }
  }

  .photo__like-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;


    width: 93%;

    &--main-wrapper {
      width: 21.2%;
    }
  }

  .photo__text-item {
    padding-top: 46px;
    padding-bottom: 69px;
    font-size: 18px;
  }

  .photo__heart {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo__block {
    justify-content: space-between;

    width: 98%;
    max-width: 1199px;
    margin: 0 auto;
  }

  .photo__item {
    min-height: 556px;
    margin: 0;
    margin-bottom: 54px;

    &--main-item {
      width: 100%;
      margin-bottom: 49px;
      padding-top: 492px;
    }
  }

  .photo__checkbox {
    top: 55px;
    margin-left: 330px;
  }

  .photo__link {
    &--position {
      margin-left: -600px;
      min-width: 1200px;
    }
  }

  .photo__info {
    width: 94%;
    padding-left: 19px;

    &--main-info {
      flex-direction: row;
      flex-wrap: wrap;

      padding-top: 37px;
      padding-right: 4px;
      padding-left: 0;
      padding-bottom: 24px;
    }
  }

  .photo__like-wrapper {
    width: 92%;

    &--main-wrapper {
      width: 13.5%;
    }
  }

  .photo__text-item {
    padding-top: 5px;
    padding-bottom: 65px;
    padding-right: 0;
  }
}
