.photo__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include zero-list();
}

.photo__wrapper {
  position: relative;

  margin-bottom: 20px;
}

.photo__checkbox {
  position: absolute;

  top: 0;
  right: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: $red-bgcolor;
}

.photo__picture {
  img {
    display: none;
    vertical-align: bottom;
  }
}

.photo__link {
  &:nth-child(1) {
    display: block;
  }
}

.photo__main-info {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;

  background-color: $bgcolor;
}

.photo__info {
  display: flex;
  flex-direction: column;
}

.photo__item {
  width: 280px;
  margin-bottom: 20px;
  background-color: $bgcolor;
}

.photo__name {
  line-height: 24px;
  font-weight: 700;

  span {
    font-weight: 300;
  }
}

.photo__main-like,
.photo__like {
  font-size: 12px;
  line-height: 24px;
  color: $red-color;
}

.photo__heart {
  fill: $red-color;
}

.photo__text-item {
  background-color: $white-bgcolor;
}

.photo {
  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .photo {
    width: $tablet-width;
  }

  .photo__block {
    width: 620px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .photo__main-info {
    width: 620px;
  }

  .photo__name {
    margin-right: auto;
  }

  .photo__main-text {
    order: 2;
  }

  .photo__item {
    width: 300px;
  }

  .photo__link {
    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo {
    width: $desktop-width;
  }

  .photo__block {
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .photo__main-info {
    width: 940px;
  }

  .photo__item {
    width: 300px;
  }

  .photo__link {
    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      display: block;
    }
  }
}
