.photo-image {
  padding-bottom: 40px;
}

.photo-image__wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 19px;

  background-color: $bgcolor;
}

.photo-image__container {
  width: 88%;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.photo-image__toggle {
  display: flex;
  flex-wrap: wrap;

  width: 70%;
  max-width: 240px;
  margin: 0 auto;
}

.photo-image__icon {
  background-color: transparent;
  border: none;

  width: 64px;
  height: 64px;
  margin-right: auto;
  padding: 0;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--active {
    fill: $red-color;
  }

  &--link {
    fill: $dark-color;
    fill-opacity: 0.3;

    &:hover {
      fill-opacity: 0.5;
    }
  }
}

.photo-image__scales {
  display: flex;
  flex-direction: column;

  @include zero-list();
  width: 100%;
  margin-bottom: 39px;
}

.photo-image__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;

    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  &--block {
    display: none;
  }
}

.photo-image__scale-contaner {
  width: 76%;
  max-width: 240px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 34px;
  padding-right: 3px;
}

.photo-image__scale {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: $dark-color;
}

.photo-image__control-toggle {
  &::before {
    content: "";
    position: absolute;

    top: -6px;
    left: 80%;
    width: 14px;
    height: 14px;

    background-color: $bgcolor;
    border: 2px solid $red-color;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      background-color: $red-color;
    }
  }
}

.photo-image__buttons {
  display: flex;
  flex-wrap: wrap;

  width: 88%;
  max-width: 360px;
  margin: 0 auto;
}

.photo-image__button {
  width: 100%;
  padding-bottom: 16px;

  color: $red-color;

  border-color: $red-color;

  &:hover {
    color: $white-color;
    background-color: $red-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--color {
    color: $dark-color;

    border-color: $dark-color;
    opacity: 0.1;

    &:hover {
      color: $dark-color;
      background-color: transparent;
      opacity: 0.3;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $dark-color;
    }
  }

  &:first-child {
    margin-bottom: 11px;
  }

  &:last-child {
    margin-bottom: 42px;
  }
}

@media (min-width: $tablet-width) {
  .photo-image {
    padding-bottom: 0;

    background-color: $bgcolor;
  }

  .photo-image__wrapper {
    flex-direction: row;
    justify-content: center;

    width: 94%;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 11px;
  }

  .photo-image__container {
    max-width: 300px;
    margin: 0;
    margin-right: 6.5%;
  }

  .photo-image__picture {
    min-width: 300px;
  }

  .photo-image__item {
    &::before {
      top: 55px;
      left: -55px;
      width: 136%;
    }

    &--block {
      display: block;
    }
  }

  .photo-image__control {
    width: 45%;
  }

  .photo-image__block {
    display: flex;

    width: 100%;
    margin-bottom: 50px;
  }

  .photo-image__toggle {
    flex-direction: column;
    justify-content: space-between;

    @include zero-list();
    width: auto;
    margin-right: 22px;
    padding-bottom: 33px;

    svg {
      width: 24px;
      height: 24px;
    }

    .photo-image__contrast {
      width: 16px;
      height: 16px;
    }
  }

  .photo-image__icon {
    width: 38px;
    height: 38px;

    fill: $red-color;
    fill-opacity: 1;

    &--link {
      &:hover {
        fill-opacity: 1;
      }
    }

    &--fill {
      margin-top: 7px;
    }

    &--contrast {
      padding-left: 4px;
    }
  }

  .photo-image__scale-contaner {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding-top: 19px;
    padding-right: 0;
    padding-bottom: 51px;
  }

  .photo-image__scales {
    width: 72%;
    margin: 0;
  }

  .photo-image__scale {
    width: 100%;
  }

  .photo-image__control-toggle {
    &--crop {
      &::before {
        left: 73%;
      }
    }

    &--fill {
      &::before {
        left: 13%;
      }
    }

    &--contrast {
      &::before {
        left: 48%;
      }
    }
  }

  .photo-image__buttons {
    width: 95%;
    margin: 0;
    padding-left: 7px;
  }

  .photo-image__button {
    &:first-child {
      margin-bottom: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-image {
    background-color: $white-color;
  }

  .photo-image__wrapper {
    width: 98%;
    max-width: 1199px;
    padding-bottom: 48px;
  }

  .photo-image__container {
    margin-left: 7%;
    margin-right: 8%;
  }

  .photo-image__control {
    width: 50%;
    padding-left: 9px;
  }

  .photo-image__block {
    margin-bottom: 129px;
  }


  .photo-image__toggle {
    margin-top: -8px;
    margin-right: 40px;

    padding-bottom: 23px;

    svg {
      width: 48px;
      height: 48px;
    }

    .photo-image__contrast {
      width: 32px;
      height: 32px;
    }
  }

  .photo-image__icon {
    width: 58px;
    height: 58px;

    &--contrast {
      padding-left: 0;
    }
  }

  .photo-image__scales {
    width: 62.5%;
  }

  .photo-image__scale {
    width: 100%;
  }

  .photo-image__item {
    &::before {
      left: -90px;
      width: 142%;
    }
  }

  .photo-image__control-toggle {
    &--crop {
      &::before {
        left: 25%;
      }
    }

    &--fill {
      &::before {
        left: 86%;
      }
    }

    &--contrast {
      &::before {
        left: 55%;
      }
    }
  }

  .photo-image__buttons {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 100%;
    margin: 0;
  }

  .photo-image__button {
    width: 44%;

    &:first-child,
    &:last-child {
      margin-bottom: 0;
    }
  }
}
