.photo-list {
  @include zero-list();
}

.photo-list__item {
  background-color: $bgcolor;
}

.photo__name {
  line-height: 24px;
  font-weight: 700;

  span {
    font-weight: 300;
  }
}

.photo-list__checkbox {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: $red-bgcolor;
}

.photo__like {
  font-size: 12px;
  line-height: 24px;
  color: $red-color;
}

.photo__heart {
  fill: $red-color;
}

.photo__text-item {
  background-color: $white-bgcolor;
}
