.price {
  position: relative;

  min-height: 470px;
  padding-top: 407px;
  overflow: hidden;

  background-color: $bgcolor;
  background-image: url("/img/bg-triangle-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price__wrapper {
  display: flex;
  position: absolute;

  top: 91px;
  left: 50%;

  @include zero-list();
  margin-left: -418px;
  margin-bottom: 34px;


  z-index: 5;
}

.price__item {
  margin-left: -2px;

  &:nth-child(1) {
    display: none;
  }

  &:nth-child(2) {
    margin-left: 0;
  }
}

.price__table {
  width: 280px;
  min-height: 280px;

  border-collapse: collapse;
}

.price__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  min-height: 61px;
  padding: 0 14px 0 21px;
  text-transform: uppercase;

  background-color: $white-color;
  border: 2px solid $light_gray-color;
  border-top-width: 0;

  &--heading {
    justify-content: center;

    padding: 17px 0 19px;

    font-size: 18px;
    text-align: center;
    color: $white-color;

    background-color: $dark-color;
    border-top-width: 0;
    border-bottom-width: 0;

    overflow: hidden;
  }
}

.price__font-light {
  font-size: 24px;
  font-weight: 300;
}

.price__checkbox {
  display: none;

  &--active {
    display: block;
    position: absolute;

    top: 13px;
    left: -29px;
    width: 105px;
    height: 29px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    background-color: $red-color;

    transform: rotate(-45deg);
  }
}

.price__icon-yes {
  margin-top: 2px;

  fill: $light_green-color;

  transform: translateX(-4px);
}

.price__icon-no {
  margin-right: 5px;

  fill: $light_red-color;
}

.price__toggles {
  width: 20.1%;
  margin-bottom: 43px;
}

@media (min-width: 660px) {
  .price {
    min-height: 0;
    padding-top: 90px;
    padding-bottom: 8px;
  }

  .price__wrapper {
    justify-content: center;
    position: static;

    width: 94%;
    margin: 0 auto;
  }

  .price__item {
    margin-left: -2px;

    &:nth-child(1) {
      display: block;

      margin-left: 0;
    }

    &:nth-child(2) {
      margin-left: -2px;
    }
  }

  .price__table {
    display: flex;
    flex-direction: column;

    width: 100%;

    &--padding-top {
      padding-top: 76px;
    }
  }

  .price__col {
    align-items: stretch;

    width: 156px;
    min-height: 47px;
    padding-top: 8px;
    padding-left: 63px;


    &--top-border {
      border-top-width: 2px;
    }

    &--heading {
      min-height: 79px;
      padding: 0;
      padding-top: 10px;


      font-size: 16px;
    }

    &--left-border {
      border-left-width: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &--right-border {
      border-right-width: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &--left-align {
      padding: 8px 13px;
    }

    &--cell {
      min-height: 49px;
    }
  }

  .price__font-light {
    font-size: 18px;
  }

  .price__checkbox {
    &--active {
      top: 5px;
      left: -32px;
    }
  }

  .price__text {
    display: none;

    &--block {
      display: block;

      text-transform: none;
    }
  }

  .price__icon-yes {
    fill: $light_green-color;

    transform: translateX(-3px) translateY(1px);
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: 960px) {
  .price {
    padding-top: 145px;
    padding-bottom: 0;
  }

  .price__wrapper {
    justify-content: center;
    width: 98%;
    padding-bottom: 95px;
  }

  .price__table {
    &--padding-top {
      padding-top: 96px;
    }
  }

  .price__col {
    width: 237px;
    min-height: 61px;

    padding-top: 17px;
    padding-left: 103px;

    &--heading {
      min-height: 98px;
      padding: 0;
      padding-top: 18px;

      font-size: 18px;
    }

    &--left-align {
      padding: 16px 22px 0;
    }

    &--cell {
      min-height: 63px;
    }

    .price__font-light {
      font-size: 24px;
    }

    .price__checkbox {
      &--active {
        top: 14px;
        left: -28px;
      }
    }

    .price__icon-yes {
      fill: $light_green-color;

      transform: translateX(-3px) translateY(4px);
    }

    .price__text {
      font-size: 18px;
    }
  }
}
