.proposal {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  padding-top: 40px;

  background-color: $white-color;
}

.proposal__item {
  width: 66%;
  margin: 0 auto;
  margin-bottom: 28px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .proposal {
    width: auto;
    padding-top: 48px;
    padding-bottom: 44px;
  }

  .proposal__item {
    width: 94%;
    margin-bottom: -1px;

    font-size: 40px;
    line-height: 50px;

    &--width {
      width: 53%;
    }
  }
}

@media (min-width: $desktop-width) {
  .proposal {
    width: auto;
    padding-top: 66px;
    padding-bottom: 79px;
  }

  .proposal__item {
    font-size: 50px;
    line-height: 60px;
  }
}
