.radio-list {
  display: flex;
  flex-direction: column;

  @include zero-list();
  width: 280px;
  margin: 0 auto;
  padding-left: 70px;

  .radio-list__label {
    position: relative;
    font-size: 18px;
  }

  .radio-list__input + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -62px;

    width: 37px;
    height: 37px;

    background-color: $white-color;
    border: 2px solid $light_gray-color;
    border-radius: 50%;
  }

  .radio-list__input:checked + label::after {
    content: "";
    position: absolute;
    top: 11px;
    left: -51px;

    width: 14px;
    height: 14px;

    background-color: $red-bgcolor;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .radio-list {
    margin: 0;
  }
}
