@media (max-width: $mobile-width) {
  .research {
    display: none;
  }
}

@media (min-width: $mobile-width) {
  .research {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
    min-height: 350px;
    background-color: $white-color;
  }

  .research__wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;

    width: 97%;
    max-width: 780px;
    min-height: 405px;
    margin: 0 auto;
    padding-top: 97px;

    background-image: url("/img/icon-timer.svg");
    background-size: 239px auto;
    background-repeat: no-repeat;
    background-position: 12px 46%;

    &::before {
      content: "24";
      position: absolute;
      top: 114px;
      left: 28px;
      width: 204px;
      height: 204px;
      padding-top: 36px;
      font-size: 96px;
      line-height: 96px;
      font-weight: 700;
      color: $red-color;
      text-align: center;

      border: 14px solid $red-color;
      border-radius: 50%;
    }
  }

  .research__container {
    display: flex;
    flex-direction: column;

    width: 50.2%;
  }

  .research__title {
    display: block;

    width: 56%;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 36px;
    text-align: left;
  }

  .research__text {
    width: 95%;

    @include zero();
    margin-bottom: 8px;

    line-height: 24px;

    br {
      display: none;

      &:nth-child(2) {
        display: block;
      }
    }
  }

  .research__link {
    display: block;
    align-self: flex-start;
    position: relative;

    text-align: left;

    color: $red-color;


    &::before {
      content: "";
      position: absolute;
      bottom: 7px;

      width: 100%;
      height: 1px;

      border-bottom: 1px solid $red-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .research {

    background-color: transparent;
  }

  .research__wrapper {
    width: 98%;
    max-width: 960px;
    min-height: 447px;
    padding-top: 125px;

    background-size: 300px auto;
    background-position: 0 35%;

    &::before {
      top: 105px;
      left: 24px;
      width: 252px;
      height: 252px;
      padding-top: 43px;

      font-size: 120px;
      line-height: 120px;

      border-width: 16px;
    }
  }

  .research__container {
    width: 61%;
  }

  .research__title {
    margin-bottom: 23px;

    font-size: 30px;
    line-height: 36px;
    text-align: left;

    br {
      display: none;
    }
  }

  .research__text {
    width: 96%;
    margin-bottom: 31px;

    font-size: 18px;
    line-height: 30px;

    br {
      display: block;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  .research__link {
    display: block;

    font-size: 18px;
    line-height: 30px;
    text-align: left;

    color: $red-color;

    &::before {
      bottom: 4px;

      border-bottom-width: 2px;
    }
  }
}
