.reviews-slider__item {
  display: none;

  &--active {
    display: flex;
  }
}

.reviews-slider__toggles {
  display: flex;
  align-items: center;

  width: 22%;
  max-width: 100px;
  min-height: 20px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.reviews-slider__toggle {
  display: block;

  width: 6px;
  height: 6px;
  margin-right: auto;
  padding: 3px;

  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  border: 3px solid #ffffff;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--link {
    &:hover {
      background-color: rgba(40, 54, 69, 0.6);
    }

    &:active {
      background-color: rgba(40, 54, 69, 0.1);
    }
  }

  &--active {
    background-color: #ffffff;
    border: 3px solid $dark-color;
  }
}

.reviews-slider__arrows {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews-slider__toggles {
    width: 10%;
    margin-bottom: 3px;
  }
}

@media (min-width: $desktop-width) {
  .reviews-slider__toggles {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .reviews-slider__toggle {
    display: none;
  }

  .reviews-slider__wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  .reviews-slider__arrows {
    display: block;

    width: 22px;
    height: 41px;

    background-color: $white-color;
    background-repeat: no-repeat;
    border: none;

    opacity: 0.3;

    &--left {
      background-image: url("/img/icon-review-arrow-left.svg");
    }

    &--right {
      background-image: url("/img/icon-review-arrow-right.svg");
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
