.reviews {
  background-color: #ffffff;
  text-align: center;
}

.reviews__wrapper {
  width: 88%;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 13px;
}

.reviews__icon-quotes {
  display: none;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;

  @include zero();
}

.reviews__author-name {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  color: $black-color;
}

.reviews__information {
  display: none;
}

.reviews__text {
  width: 100%;
  max-width: 470px;

  @include zero();
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: 94%;
    padding-top: 30px;
  }

  .reviews__author-name {
    margin-bottom: 3px;

    font-size: 20px;
  }

  .reviews__information {
    display: block;

    @include zero();
    margin-bottom: 30px;
  }

  .reviews__text {
    order: -1;

    max-width: 790px;
    margin-bottom: 35px;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    position: relative;

    width: 98%;
    max-width: 940px;
    padding-top: 72px;
  }

  .reviews__icon-quotes {
    order: -1;
    display: block;

    margin-bottom: 52px;

    fill: #efefef;
  }

  .reviews__author-name {
    margin-bottom: 4px;
    font-size: 24px;
  }

  .reviews__information {
    display: block;
    font-size: 18px;
  }

  .reviews__text {
    order: -1;
  }

  .reviews__toggles {
    position: absolute;

    top: 51%;
  }
}
