$body-bgcolor: #f2f2f2;
$body-font_size: 14px;
$body-line_height: 30px;
$body-font_weight: 400;
$body-font-style: normal;
$body-font-family: "Open Sans";
$body-color: #283645;

$header-bgcolor: #1d2631;

$site-font_size: 18px;
$site-line-height: 32px;
$site-font_weight: 700;
$site-color: #ffffff;
$site-bgcolor: #283645;
$site-transtext: uppercase;
$site-hover-color: rgb(210, 40, 86);
$site-active-color: rgba(210, 40, 86, 0.3);

$title-font_size: 24px;
$title-font_weight: 300;


$main-bgcolor: #1d2631;

$app-font_size: 18px;
$app-line_height: 18px;
$app-font_weight: 700;
$app-color: #ffffff;
$app-border-width: 3px;
$app-border-style: solid;
$app-border-color: #ffffff;
$app-radius: 25px;

$ava-text-font_size: 14px;
$ava-text-line_height: 24px;
$ava-text-font_wight: 300;
$ava-text-color: #ffffff;


$pro-bgcolor: #ffffff;
$pro-font_size: 24px;
$pro-line_height: 30px;
$pro-font_weight: 300;

$adva-title-font_size: 18px;
$adva-title-line_height: 30px;
$adva-title-font_weight: 700;
$adva-title-color: #000000;


$social-border-width: 3px;
$social-border-style: solid;
$social-border-color: rgba(40, 54, 69, 0.1);
$social-border-radius: 50%;

$footer-font_size: 14px;
$footer-line_height: 18px;
$footer-font_weight: 400;


$red-check-font_size: 12px;
$red-check-line_height: 24px;
$red-check-font_weight: 700;
$red-check-color: #ffffff;
$red-check-bgcolor: #d22856;

$name-font_size: 14px;
$name-line_height: 24px;
$name-font_weight: 700;
$backtime-font_weight: 300;

$like-font_size: 12px;
$like-line-height: 24px;
$like-fon_weight: 400;
$like-color: #d22856;
