$bgcolor: #f2f2f2;
$color: #283645;
$dark-color: #283645;
$block-bgcolor: #1d2631;
$red-bgcolor: #d22856;
$red-color: #d22856;
$white-bgcolor: #ffffff;
$white-color: #ffffff;
$transparent-bgcolor: transparent;
$green-color: #2aab6d;
$black-color: #000000;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
