$bgcolor: #f2f2f2;
$dark-color: #283645;
$block-bgcolor: #1d2631;
$red-color: #d22856;
$light_red-color: #f25b26;
$white-color: #ffffff;
$transparent-bgcolor: transparent;
$green-color: #2aab6d;
$light_green-color: #3dc644;
$dark_green-color: #1c9b5e;
$black-color: #000000;
$light_gray-color: #e5e5e5;

$mobile-width: 320px;
$tablet-width: 660px;
$only-tablet-width: 959px;
$desktop-width: 960px;
